
name: pygraphviz
on: [push, pull_request, workflow_dispatch]

jobs:
  manylinux2020_x86_64:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux2010_x86_64
    strategy:
      matrix:
        python-abi: [cp36-cp36m, cp37-cp37m, cp38-cp38, cp39-cp39]
    steps:
      - uses: actions/checkout@v1
      - name: Install build dependencies
        run: |
          ls /opt
          ls /opt/python
          ls /opt/python/${{ matrix.python-abi }}
          find /opt/python/${{ matrix.python-abi }} -type f
          ls /opt/python/${{ matrix.python-abi }}/bin
          /opt/python/${{ matrix.python-abi }}/bin/python \
            -m pip install --upgrade \
            pip setuptools wheel build cython twine auditwheel
          yum install -y wget
      - name: Fetch GraphViz sources
        run: |
          wget https://gitlab.com/api/v4/projects/4207231/packages/generic/graphviz-releases/3.0.0/graphviz-3.0.0.tar.gz
      - name: Configure and build
        run: |
          tar xvzf graphviz-3.0.0.tar.gz
          cd graphviz-3.0.0
          ./configure --prefix=`pwd`/inst \
            --enable-static --disable-shared
          make > build.log 2>&1
          make install > install.log 2>&1
          ls -l inst/bin/dot_static
          strip inst/bin/dot_static
          ls -l inst/bin/dot_static
          ldd inst/bin/dot_static
          mkdir -p ../src/graphviz_bin/bin
          mkdir ../result
          cp inst/bin/dot_static ../result/dot
      - name: Wheel build
        run: |
          export BUILD_NUM=$GITHUB_RUN_ID
          /opt/python/${{ matrix.python-abi }}/bin/python \
            setup.py \
            bdist_wheel
          /opt/python/${{ matrix.python-abi }}/bin/auditwheel show dist/*.whl
          /opt/python/${{ matrix.python-abi }}/bin/auditwheel repair dist/*.whl
      - name: Publish to PyPi
        if: startsWith(github.ref, 'refs/heads/main')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        shell: bash
        run: |
            /opt/python/${{ matrix.python-abi }}/bin/python -m twine upload wheelhouse/*.whl


