
name: pygraphviz
on: [push, pull_request, workflow_dispatch]

jobs:
  manylinux2020_x86_64:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux2010_x86_64
    strategy:
      matrix:
        python-abi: [cp36-cp36m, cp37-cp37m, cp38-cp38, cp39-cp39]
    steps:
      - uses: actions/checkout@v1
      - name: Install build dependencies
        run: |
          ls /opt
          ls /opt/python
          ls /opt/python/${{ matrix.python-abi }}
          find /opt/python/${{ matrix.python-abi }} -type f
          ls /opt/python/${{ matrix.python-abi }}/bin
          /opt/python/${{ matrix.python-abi }}/bin/python \
            -m pip install --upgrade \
            pip setuptools wheel build cython twine
          yum install -y wget
      - name: Fetch GraphViz sources
        run: |
          wget https://gitlab.com/api/v4/projects/4207231/packages/generic/graphviz-releases/3.0.0/graphviz-3.0.0.tar.gz
      - name: Configure and build
        run: |
          tar xvzf graphviz-3.0.0.tar.gz
          cd graphviz-3.0.0
          ./configure --prefix=`pwd`/inst \
            --enable-static --disable-shared
          make
          make install
          ls -l inst/bin/dot_static
          strip inst/bin/dot_static
          ls -l inst/bin/dot_static
          mkdir -p ../src/graphviz_bin/bin
          cp inst_bin/dot_static ../src/graphviz_bin/bin/dot
      - name: Wheel build
        run: |
          /opt/python/${{ matrix.python-abi }}/bin/python \
            setup.py \
            bdist_wheel
      - name: Publish to PyPi
        if: startsWith(github.ref, 'refs/heads/main')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}


